<p id="notice"><%= notice %></p>

<h1>Suitcases</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suitcases.each do |suitcase| %>
      <tr>
        <td><%= link_to "View Packing List #{suitcase.name}", suitcase %>&nbsp;</td>
        <td><%= link_to 'Destroy', suitcase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

