<p id="notice"><%= notice %></p>

<h1>My Closet</h1>
<table class="content">
  <thead>
    <tr>
      <th>Item Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><button type="button" class="btn btn-warning btn-sm glyphicon glyphicon-edit"><%= link_to ' ', edit_item_path(item) %></td>
        <td><button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-trash"><%= link_to ' ', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
